{{!-- 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

  <head>
    <title>
    BIO
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>
<nav>
		{{> link text="skills" href="/skills" line=true }}
		{{> link text="summary" href="/summary" line=true }}
		{{> link text="education" href="/education" line=true }}
		{{> link text="person" href="/person" line=true }}
		{{> link text="bio" href="/bio" line=true }}
		{{> link text="js" href="/js" line=true }}
    </nav>
<body>
	
    
    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
    {{{body}}}

	
</body>

</html>